
@{
    ViewBag.Title = "Generate";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Generate", "Home", FormMethod.Post))
    {
        <input type="text" name="qrcode" />
        <input type="submit" value="Generate" />
    }
    <hr />
    @if (ViewBag.QRCodeImage != null)
    {
        <img src="@ViewBag.QRCodeImage" alt="" style="height:150px;width:150px" />
    }
</body>
</html>

